EC/Misc/Carreras[[:space:]]universitarias/1.2.mp4 filter=lfs diff=lfs merge=lfs -text
EC/Misc/Cultura[[:space:]]general/contextos[[:space:]]internacionales/México/¿Por[[:space:]]qué[[:space:]]CDMX[[:space:]]NO[[:space:]]DEJARÁ[[:space:]]de[[:space:]]INUNDARSE_[[:space:]]720.mp4 filter=lfs diff=lfs merge=lfs -text
EC/Misc/Universidades/🇵🇪[[:space:]]TE[[:space:]]DIGO[[:space:]]EN[[:space:]]QUÉ[[:space:]]UNIVERSIDAD[[:space:]]DEBES[[:space:]]ESTUDIAR[[:space:]]dependiendo[[:space:]]a[[:space:]]TU[[:space:]]CARRERA[[:space:]]_[[:space:]]Consejos[[:space:]]para[[:space:]]desenvolverte[[:space:]]720.mp4 filter=lfs diff=lfs merge=lfs -text
EC/Misc/Universidades/🧑_🎓UNIVERSIDADES[[:space:]]que[[:space:]]NO[[:space:]]PODRÍAS[[:space:]]PAGAR[[:space:]]EN[[:space:]]CADA[[:space:]]país[[:space:]]2025[[:space:]]_[[:space:]]¿Cuánto[[:space:]]CUESTAN_[[:space:]]720.mp4 filter=lfs diff=lfs merge=lfs -text
EC/uni/5[[:space:]]Cachimbo/Consejos/Videos/c1.3.mp4 filter=lfs diff=lfs merge=lfs -text
EC/uni/5[[:space:]]Cachimbo/Consejos/Videos/c2.2.mp4 filter=lfs diff=lfs merge=lfs -text
EC/uni/5[[:space:]]Cachimbo/Consejos/Videos/c2.3.mp4 filter=lfs diff=lfs merge=lfs -text
EC/uni/5[[:space:]]Cachimbo/Consejos/Videos/c2.6.mp4 filter=lfs diff=lfs merge=lfs -text
EC/uni/5[[:space:]]Cachimbo/Consejos/Videos/c3.3.mp4 filter=lfs diff=lfs merge=lfs -text
EC/uni/5[[:space:]]Cachimbo/Consejos/Videos/c3.mp4 filter=lfs diff=lfs merge=lfs -text
EC/uni/5[[:space:]]Cachimbo/Malla[[:space:]]Curricular/Estudios[[:space:]]generales[[:space:]]en[[:space:]]ciencias/videos/c1.2.mp4 filter=lfs diff=lfs merge=lfs -text
EC/uni/5[[:space:]]Cachimbo/Malla[[:space:]]Curricular/Estudios[[:space:]]generales[[:space:]]en[[:space:]]ciencias/videos/c1.3.mp4 filter=lfs diff=lfs merge=lfs -text
EC/uni/5[[:space:]]Cachimbo/Malla[[:space:]]Curricular/Estudios[[:space:]]generales[[:space:]]en[[:space:]]ciencias/videos/c1.4.mp4 filter=lfs diff=lfs merge=lfs -text
EC/uni/5[[:space:]]Cachimbo/Malla[[:space:]]Curricular/Videos/c1.mp4 filter=lfs diff=lfs merge=lfs -text
EC/uni/5[[:space:]]Cachimbo/matricula,cursos,horarios,creditos/Videos/c1.2.mp4 filter=lfs diff=lfs merge=lfs -text
EC/uni/5[[:space:]]Cachimbo/matricula,cursos,horarios,creditos/Videos/c1.mp4 filter=lfs diff=lfs merge=lfs -text
EC/uni/5[[:space:]]Cachimbo/pregrado+derivados[[:space:]]+[[:space:]]tercio[[:space:]]superior[[:space:]]+[[:space:]]extras/Becas[[:space:]](tema)[[:space:]]y[[:space:]]intercambio[[:space:]](convalidación)/Videos/c1.3.mp4 filter=lfs diff=lfs merge=lfs -text
EC/uni/5[[:space:]]Cachimbo/pregrado+derivados[[:space:]]+[[:space:]]tercio[[:space:]]superior[[:space:]]+[[:space:]]extras/Becas[[:space:]](tema)[[:space:]]y[[:space:]]intercambio[[:space:]](convalidación)/Videos/c1.mp4 filter=lfs diff=lfs merge=lfs -text
EC/uni/5[[:space:]]Cachimbo/pregrado+derivados[[:space:]]+[[:space:]]tercio[[:space:]]superior[[:space:]]+[[:space:]]extras/Becas[[:space:]](tema)[[:space:]]y[[:space:]]intercambio[[:space:]](convalidación)/Videos/c2.1.mp4 filter=lfs diff=lfs merge=lfs -text
EC/uni/5[[:space:]]Cachimbo/pregrado+derivados[[:space:]]+[[:space:]]tercio[[:space:]]superior[[:space:]]+[[:space:]]extras/Becas[[:space:]](tema)[[:space:]]y[[:space:]]intercambio[[:space:]](convalidación)/Videos/c2.4.mp4 filter=lfs diff=lfs merge=lfs -text
EC/uni/5[[:space:]]Cachimbo/pregrado+derivados[[:space:]]+[[:space:]]tercio[[:space:]]superior[[:space:]]+[[:space:]]extras/Becas[[:space:]](tema)[[:space:]]y[[:space:]]intercambio[[:space:]](convalidación)/Videos/c2.mp4 filter=lfs diff=lfs merge=lfs -text
EC/uni/5[[:space:]]Cachimbo/pregrado+derivados[[:space:]]+[[:space:]]tercio[[:space:]]superior[[:space:]]+[[:space:]]extras/Videos/c1.mp4 filter=lfs diff=lfs merge=lfs -text
EC/uni/5[[:space:]]Cachimbo/pregrado+derivados[[:space:]]+[[:space:]]tercio[[:space:]]superior[[:space:]]+[[:space:]]extras/Videos/c2.mp4 filter=lfs diff=lfs merge=lfs -text
EC/uni/5[[:space:]]Cachimbo/Referencias-Tips[[:space:]]a[[:space:]]tu[[:space:]]carrera/Videos/c2.2.mp4 filter=lfs diff=lfs merge=lfs -text
EC/uni/5[[:space:]]Cachimbo/Referencias-Tips[[:space:]]a[[:space:]]tu[[:space:]]carrera/Videos/c2.mp4 filter=lfs diff=lfs merge=lfs -text
EC/uni/5[[:space:]]Cachimbo/Residencia[[:space:]]UNI/Videos/c1.mp4 filter=lfs diff=lfs merge=lfs -text
EC/uni/5[[:space:]]Cachimbo/Traslado[[:space:]]interno[[:space:]]u[[:space:]]externo/Videos/c1.mp4 filter=lfs diff=lfs merge=lfs -text
ET/Post-Científico/Autoayuda-Orientación/2.2.mp4 filter=lfs diff=lfs merge=lfs -text
ET/Post-Científico/Autoayuda-Orientación/2.mp4 filter=lfs diff=lfs merge=lfs -text
ET/Post-Científico/Cultura[[:space:]]General/Sociedad/c1.4.mp4 filter=lfs diff=lfs merge=lfs -text
ET/Post-Científico/Cultura[[:space:]]General/Sociedad/c1.5.mp4 filter=lfs diff=lfs merge=lfs -text
ET/Post-Científico/Cultura[[:space:]]General/Sociedad/c1.6.mp4 filter=lfs diff=lfs merge=lfs -text
ET/Post-Científico/Orientación[[:space:]]vocacional/1.2.mp4 filter=lfs diff=lfs merge=lfs -text
ET/Post-Científico/Orientación[[:space:]]vocacional/1.mp4 filter=lfs diff=lfs merge=lfs -text
ET/Post-Científico/universidades[[:space:]]de[[:space:]]lima/2.1.mp4 filter=lfs diff=lfs merge=lfs -text
ET/Técnico-Imaginario/Inmobiliaria[[:space:]](depa[[:space:]]y[[:space:]]casa)/1.mp4 filter=lfs diff=lfs merge=lfs -text
p_uni/desec_e/2[[:space:]]Plan[[:space:]]de[[:space:]]Estudio/Outdated/COMO[[:space:]]ESTUDIAR[[:space:]]LETRAS[[:space:]]PARA[[:space:]]INGRESAR[[:space:]]A[[:space:]]LA[[:space:]]UNIVERSIDAD[[:space:]]EFECTIVAMENTE[[:space:]]INCLUSO[[:space:]]LOS[[:space:]]QUE[[:space:]]NO[[:space:]]TE[[:space:]]GUSTAN_1080p.mp4 filter=lfs diff=lfs merge=lfs -text
p_uni/desec_e/2[[:space:]]Plan[[:space:]]de[[:space:]]Estudio/Outdated/CUIDADO[[:space:]]ERRORES[[:space:]]que[[:space:]]cometes[[:space:]]al[[:space:]]ESTUDIAR[[:space:]]MATEMATICAS[[:space:]]CHARLA_1080p.mp4 filter=lfs diff=lfs merge=lfs -text
p_uni/desec_e/2[[:space:]]Plan[[:space:]]de[[:space:]]Estudio/Outdated/Estudio[[:space:]]de[[:space:]]ciencias/Videos/c1.mp4 filter=lfs diff=lfs merge=lfs -text
p_uni/desec_e/2[[:space:]]Plan[[:space:]]de[[:space:]]Estudio/Outdated/Videos/c2.2.mp4 filter=lfs diff=lfs merge=lfs -text
p_uni/desec_e/2[[:space:]]Plan[[:space:]]de[[:space:]]Estudio/Outdated/Videos/c2.mp4 filter=lfs diff=lfs merge=lfs -text
p_uni/desec_e/3[[:space:]]Prospecto[[:space:]]UNI/Videos/c1.2.mp4 filter=lfs diff=lfs merge=lfs -text
p_uni/desec_e/4[[:space:]]Examen[[:space:]]y[[:space:]]CEPRE/Videos/c1.4.mp4 filter=lfs diff=lfs merge=lfs -text
p_uni/desec_e/4[[:space:]]Examen[[:space:]]y[[:space:]]CEPRE/Videos/c1.5.mp4 filter=lfs diff=lfs merge=lfs -text
p_uni/desec_e/4[[:space:]]Examen[[:space:]]y[[:space:]]CEPRE/Videos/c4.mp4 filter=lfs diff=lfs merge=lfs -text
p_uni/me_p/a/5/tc/0_g/1_c/1nocpre/f_m/m5.mp4 filter=lfs diff=lfs merge=lfs -text
p_uni/me_p/a/5/tc/0_g/3_h/1his/f1.mp4 filter=lfs diff=lfs merge=lfs -text
p_uni/me_p/a/5/tc/2_cien/1_alg/1nocpre/0t_o/2ca/f1.mkv filter=lfs diff=lfs merge=lfs -text
p_uni/me_p/a/5/tc/2_cien/1_alg/1nocpre/0t_o/3lex/f13.mp4 filter=lfs diff=lfs merge=lfs -text
p_uni/me_p/a/5/tc/2_cien/1_alg/1nocpre/0t_o/4pn/f4.mp4 filter=lfs diff=lfs merge=lfs -text
p_uni/me_p/a/5/tc/2_cien/1_alg/1nocpre/0t_o/4pn/f5.mp4 filter=lfs diff=lfs merge=lfs -text
p_uni/me_p/a/5/tc/3_hum/9_leng/7noc1/leng1/1/1c/I/2/f_m/1.mp4 filter=lfs diff=lfs merge=lfs -text
p_uni/me_p/a/5/tc/3_hum/9_leng/7noc1/leng1/1/1c/I/2/f_m/2.mp4 filter=lfs diff=lfs merge=lfs -text
p_uni/me_p/a/5/tc/3_hum/9_leng/7noc1/leng1/1/1c/P/3/f_m/1.mp4 filter=lfs diff=lfs merge=lfs -text
p_uni/me_p/a/5/tc/5_rm/4s/f2.mp4 filter=lfs diff=lfs merge=lfs -text
p_uni/me_p/a/5/tc/5_rm/4s/f5.mp4 filter=lfs diff=lfs merge=lfs -text
p_uni/me_p/a/5/tc/5_rm/4s/f6.mp4 filter=lfs diff=lfs merge=lfs -text
p_uni/me_p/a/5/tc/5_rm/7d/f1.mp4 filter=lfs diff=lfs merge=lfs -text
p_uni/me_p/r/4/pt/1_desa/desa_e/1/c_r/2/Hacer[[:space:]]apuntes[[:space:]]en[[:space:]]la[[:space:]]universidad[[:space:]]es[[:space:]]una[[:space:]]pérdida[[:space:]]de[[:space:]]tiempo.mp4 filter=lfs diff=lfs merge=lfs -text
